*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

body{
    background-color: var(--background);
    font-family: "inter";
}

label , p{
    color: var(--mainText);
    text-align: justify;
}
.IF{
    max-width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #f5f0e1;
    border-radius: 10px;
}
.botao{
    background-color: var(--button);
    color: var(--cards);
    border: none;
    padding: 1rem;
    padding-inline: 2rem;
    border-radius: 15px;
    margin: 1rem;
    transition: all 0.3s ease;

    &:hover{
    background-color: var(--hover);
    }
    & > a{
        text-decoration: none;
        color: var(--cards);
    }
}
h1,h2{
    color: var(--Título);
    text-align: center;
    margin-top: 1rem;
}
section, article{
    background-color: var(--cards);
    border-radius: 10px;
    max-width: 20%;
    box-shadow:0px 5px 10px var(--shadow);
    margin-bottom: 10px;
    padding: 1.5rem;
    margin: 1rem;
}

a{
    text-decoration: none;
    color: var(--secondText);
    
    &:hover{
        opacity: 0.7;
        text-decoration: underline;
    }

}
.navbar{
    text-align: center;
    margin-left: -10rem;

    & ul{
        list-style: none;
    }
    & li{
        display: inline-block;
        margin: 1rem;
    }
}
article li{
    color: var(--mainText);
}
img.card{
    max-width: 300px;
}
#agradecimentos{
    padding: 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#margem{
    margin-top: 30px;
}
#curiosidades{
    padding: 50px;
    font-size: 16pt;
}

.botaoTema {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.iconeTema {
  width: 28px;
  height: 28px;
  fill: var(--Título);
  transition: fill 0.3s ease;
  cursor: pointer;
}
.input{
    padding: 0.5rem;
    outline: none;
    box-shadow:inset 0px 5px 10px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 15px;
    text-align: center;
}
